<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288572061243-2d6387cvh7r10roav76p82cecuqbl0hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288572061243-2d6387cvh7r10roav76p82cecuqbl0hk</string>
	<key>API_KEY</key>
	<string>AIzaSyA96ZxdcQGaO08Ffy9c_k5afkzjkbWOzbI</string>
	<key>GCM_SENDER_ID</key>
	<string>288572061243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wesafeMainVersion</string>
	<key>PROJECT_ID</key>
	<string>wesafe-c1292</string>
	<key>STORAGE_BUCKET</key>
	<string>wesafe-c1292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288572061243:ios:9b0289f427c0b7c4918e1e</string>
</dict>
</plist>